<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>


    
      <div class="card">

        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav nav-pills">
            <li ngbNavItem>
              <a ngbNavLink (click)="reset()">
                Indicadores
              </a>
              <ng-template ngbNavContent >
                <!-- Kitchen Sink Datatables -->
                <section id="ngx-datatable-kitchen-sink" [hidden]="indicator">
                  
                    <h4 class="card-title">Lista de Indicadores </h4>
                    <div class="row">
                      <div class="col-12 mb-50">
                        <button class="btn btn-primary ml-1" rippleEffect (click)= "indicatorAdd()">
                          <i data-feather="plus" class="mr-0 mr-sm-1"></i
                          ><span class="d-none d-sm-inline-block">Nuevo Indicador</span>
                        </button>
            
                        <!--<a csvLink [data]="exportCSVData" class="btn btn-outline-secondary float-right mr-1" rippleEffect
                          >Export CSV</a>-->
            
                      </div>
            
                      
            
            
                      <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                          <label class="d-flex align-items-center"
                            >Mostrar
                            <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                              <option value="5">5</option>
<option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>
                            Indicadores</label
                          >
                        </div>
                      </div>
                      <div class="col-md-6 col-12 d-flex justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                          <label class="d-flex align-items-center" for="type">Tipo:</label>
                          <select 
                            class="form-control input-md"
                            name="type"
                            id="type"
                            name="type"
                            [(ngModel)]="indicatorType"
                            (change)="filterUpdateIndiType($event)">
                            <option value="">Seleccione</option>
                            <option value="1">Ingreso neto del Flujo Monetario</option>
                            <option value="2">Razones Financieras</option>
                          </select>
                        </div>
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                          <label class="d-flex align-items-center"
                            >Buscar<input
                              type="search"
                              placeholder="Buscar"
                              class="form-control ml-25"
                              (keyup)="filterUpdateIndi($event)"
                              (search)="filterUpdateIndi($event)"
                          /></label>
                        </div>
                      </div>
                    </div>
                    <ngx-datatable
                    class="bootstrap core-bootstrap"
                    [headerHeight]="40"
                    [rowHeight]="58"
                    [limit]="basicSelectedOption"
                    [columnMode]="ColumnMode.force"
                    [footerHeight]="50"
                    [rows]="rowsIndi"
                    [scrollbarH]="true"
                    >
                      <ngx-datatable-column name="Nombre" prop="descripcion" [width]="650">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                          <div class="d-flex align-items-center">
                            <div *ngIf="row.icono; else indicatorAvatar">
                              <img
                                class="rounded-circle mr-1"
                                src="{{ url }}/app/{{ row.icono }}"
                                height="32"
                                width="32"
                                alt="datatable-avatar"
                              />
                            </div>
                            <ng-template #indicatorAvatar>
                              <div
                                class="avatar mr-1 ml-0"
                                [ngClass]="{
                                  'bg-light-success': 'A' >= row.estado,
                                  'bg-light-primary': row.estado >= 'I'
                                }"
                              >
                                <div class="avatar-content">{{ row.nombre | initials }}</div>
                              </div>
                            </ng-template>
                            <div class="cell-line-height">
                              <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                                {{ row.nombre }}
                              </p>
                             
                            </div>
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Estado" prop="estado" [width]="50">
                        <ng-template let-status="value" let-row="row" ngx-datatable-cell-template>
                          <div 
                            class="badge badge-pill"
                            [ngClass]="{
                              'badge-light-success': 'A' == row.estado,
                              'badge-light-warning': row.estado == 'I'
                            }"
                          >
                            {{
                              row.estado == 'A'
                                ? 'Activo'
                                : 'Inactivo'
                            }}
                            
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Acciones" [width]="10" [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div class="d-flex align-items-center">
                            <div ngbDropdown container="body">
                              <a
                              title="a"
                                ngbDropdownToggle
                                href="javascript:void(0);"
                                class="hide-arrow"
                                id="dropdownBrowserState"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                              >
                                <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                              </a>
                              <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                                <a  ngbDropdownItem class="d-flex align-items-center"
                                (click)= "indicatorEdit(row)" ><i data-feather="edit" class="mr-50"></i> Editar</a
                                >
                                <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                                [swal]="{
                                  title: '¿Está seguro de eliminar este registro?',
                                  text: 'Esta acción no se puede revertir.',
                                  icon: 'warning',
                                  showCancelButton: true,
                                  confirmButtonColor: '#7367F0',
                                  cancelButtonColor: '#E42728',
                                  confirmButtonText: 'Si, eliminar',
                                  cancelButtonText: 'Cancelar',
                                  customClass: {
                                    confirmButton: 'btn btn-primary',
                                    cancelButton: 'btn btn-danger ml-1'
                                  }
                                }"
                                (confirm)="deleteIndicator(row)"><i data-feather="trash-2" class="mr-50"></i> Eliminar</a
                                >
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  
                </section>
                <!--/ Kitchen Sink Datatables -->


                <section>
                  <app-indicators-edit [indicatorData]="indicatorData" [template]="template" (back)="backIndicator()"  *ngIf="indicator"></app-indicators-edit>
                </section>

              </ng-template>


              


            </li>
            <li ngbNavItem>
              <a ngbNavLink (click)="reset()">Rubros</a>
              <ng-template ngbNavContent>
                <!-- Kitchen Sink Datatables -->
                

              <section id="ngx-datatable-kitchen-sink" [hidden]="rubro">
                  
                <h4 class="card-title">Lista de Rubros</h4>
                <div class="row">
                  <div class="col-12 mb-50">
                    <button class="btn btn-primary ml-1" rippleEffect (click)= "rubroAdd()">
                      <i data-feather="plus" class="mr-0 mr-sm-1"></i
                      ><span class="d-none d-sm-inline-block">Nuevo Rubro</span>
                    </button>
        
                    <!--<a csvLink [data]="exportCSVData" class="btn btn-outline-secondary float-right mr-1" rippleEffect
                      >Export CSV</a>-->
        
                  </div>
        
                  
        
        
                  <div class="col-md-6 col-12">
                    <div class="d-flex justify-content-between align-items-center m-1">
                      <label class="d-flex align-items-center"
                        >Mostrar
                        <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                          <option value="5">5</option>
<option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                        rubros</label
                      >
                    </div>
                  </div>
                  

                  <div class="col-md-6 col-12 d-flex justify-content-md-end">
                    
                    <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                      <label class="d-flex align-items-center"
                        >Buscar<input
                          type="search"
                          placeholder="Buscar"
                          class="form-control ml-25"
                          (keyup)="filterUpdate($event)"
                          (search)="filterUpdate($event)"
                      /></label>
                    </div>
                  </div>
                </div>
                <ngx-datatable
                class="bootstrap core-bootstrap"
                [headerHeight]="40"
                [rowHeight]="58"
                [limit]="basicSelectedOption"
                [columnMode]="ColumnMode.force"
                [footerHeight]="50"
                [rows]="rows"
                [scrollbarH]="true"
                >
                  <ngx-datatable-column name="Descripción" prop="descripcion" [width]="650">
                    <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                      <div class="d-flex align-items-center">
                        <div *ngIf="row.avatar; else entryAvatar">
                          <img
                            class="rounded-circle mr-1"
                            src="assets/images/portrait/small/{{ row.avatar }}"
                            height="32"
                            width="32"
                            alt="datatable-avatar"
                          />
                        </div>
                        <ng-template #entryAvatar>
                          <div class="avatar mr-1 ml-0 bg-light-primary">
                            <div class="avatar-content">{{ row.descripcion | initials }}</div>
                          </div>
                        </ng-template>
                        <div class="cell-line-height">
                          <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                            {{ row.descripcion }}
                          </p>
                          
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Estado" prop="estado" [width]="50">
                    <ng-template let-row="row" let-status="value" ngx-datatable-cell-template>
                      <div 
                        class="badge badge-pill"
                        [ngClass]="{
                          'badge-light-success': 'A' == row.estado,
                          'badge-light-warning': row.estado == 'I'
                        }"
                      >
                        {{
                          row.estado == 'A'
                            ? 'Activo'
                            : 'Inactivo'
                        }}
                        
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Acciones" [width]="10" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="d-flex align-items-center">
                        <div ngbDropdown container="body">
                          <a
                            ngbDropdownToggle
                            href="javascript:void(0);"
                            class="hide-arrow"
                            id="dropdownBrowserState"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                            <a  ngbDropdownItem class="d-flex align-items-center"
                            (click)= "rubroEdit(row)" ><i data-feather="edit" class="mr-50"></i> Editar</a
                            >
                            <a 
                              href="javascript:void(0)" 
                              ngbDropdownItem 
                              class="d-flex align-items-center"
                              [swal]="{
                                title: '¿Está seguro de eliminar este registro?',
                                text: 'Esta acción no se puede revertir.',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#7367F0',
                                cancelButtonColor: '#E42728',
                                confirmButtonText: 'Si, eliminar',
                                cancelButtonText: 'Cancelar',
                                customClass: {
                                  confirmButton: 'btn btn-primary',
                                  cancelButton: 'btn btn-danger ml-1'
                                }
                              }"
                              (confirm)="deleteFile(row)"
                              rippleEffect
                              ><i data-feather="trash-2" class="mr-50"></i> Eliminar</a
                            >
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              
            </section>
              <!--/ Kitchen Sink Datatables -->


              <section>
                <app-rubro-edit [entry]="entry" (back)="backRubro()"  *ngIf="rubro"></app-rubro-edit>
              </section>
      <!--/ Kitchen Sink Datatables -->
              </ng-template>
            </li>
           
           
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    



    


   


  
  </div>
</div>
<app-modal-list-indicators [events]="eventsSubject.asObservable()"></app-modal-list-indicators>