<div class="card ecommerce-card">
  <div class="item-img">
      <img [src]="ruta+product.image"
      style="width: 100px;" width="80" alt="img-placeholder" />
  </div>
  <div class="card-body">
    <h6 class="mb-1 text-primary" style="font-weight: bold;">
      {{ product.name }}
    </h6>

    <div class="form-group">
      <div class="d-flex align-items-start justify-content-start mb-0">
        <h6 class="mr-1 mb-0">
          Anual
        </h6>
        <div class="custom-control custom-switch">
          <input
            type="checkbox"
            class="custom-control-input"
            id="priceSwitch"
            name="priceSwitch"
            [(ngModel)]="selectedPeriod"
          />
          <label class="custom-control-label" for="priceSwitch"></label>
        </div>
        <h6 class="ml-50 mb-0">
          Semestral
        </h6>
      </div>
      
    </div>
    
    <div class="item-quantity">
      <span class="quantity-title">Cantidad:</span>
      <div class="quantity-counter-wrapper">
        <core-touchspin 
          [numberValue]="product.mount" 
          [stepValue]="1" 
          [minValue]="1" 
          [maxValue]="10"
          [button]="true"
          (onChange)="countChange($event, product)" 
          ></core-touchspin>
      </div>
    </div>
    <p class="delivery-date">{{ date }} - {{ dateEnd }}</p>
    
  </div>
  <div class="item-options text-center">
    <div class="item-wrapper">
      <div class="item-cost">
        <h4 class="item-price">S/ {{ price }}</h4>
      </div>
    </div>
    <button type="button" class="btn btn-light mt-1 remove-wishlist" (click)="removeFromCart(product)" rippleEffect>
      <i data-feather="x" class="align-middle mr-25"></i>
      <span>Eliminar</span>
    </button>
  </div>
</div>
