<div class="card ecommerce-card">
  <div class="item-img">
    <a [routerLink]="'/apps/e-commerce/details/' + product.id">
      <img [src]="product.image" alt="img-placeholder" />
    </a>
  </div>
  <div class="card-body">
    <div class="item-name">
        <h6 class="mb-0 text-primary" style="font-weight: bold;">
          Licencia Individual
        </h6>
    </div>

    <p>Anual</p>
    
    <div class="item-quantity">
      <span class="quantity-title">Cantidad:</span>
      <div class="quantity-counter-wrapper">
        <core-touchspin 
          [numberValue]="1" 
          [stepValue]="1" 
          [minValue]="1" 
          [maxValue]="10"
          [button]="true"
          ></core-touchspin>
      </div>
    </div>
    <p class="delivery-date">01/01/2022 - 31/12/2022</p>
    
  </div>
  <div class="item-options text-center">
    <div class="item-wrapper">
      <div class="item-cost">
        <h4 class="item-price">S/ 10.00</h4>
        <p class="card-text shipping" *ngIf="product.hasFreeShipping">
          <span class="badge badge-pill badge-light-success">Free Shipping</span>
        </p>
      </div>
    </div>
    <button type="button" class="btn btn-light mt-1 remove-wishlist" (click)="removeFromCart(product)" rippleEffect>
      <i data-feather="x" class="align-middle mr-25"></i>
      <span>Eliminar</span>
    </button>
  </div>
</div>
