@import '@core/scss/base/plugins/charts/chart-apex.scss';
@import '@core/scss/base/pages/app-chat-list.scss';

.modal-body {
    padding: 0px;
}

.card {
     margin-bottom: 0px;
     padding-bottom: 2rem;
}