<!-- Ecommerce Item -->

<div class="card-body">
  <img [src]="product.image" alt="img-placeholder" width="80" />
  <h6 class="item-name">
    {{ product.name }}
  </h6>
  <p class="card-text">
    {{ product.description }}
  </p>
</div>
<div class="item-options">
  <hr>
  <div class="container-item">
    <div class="row">
      <div class="col">
        <b>Anual</b>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <p>01 al 10 licencias</p>
      </div>
      <div class="col-5">
        <p>99.99</p>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <p>11 a 20 licencias</p>
      </div>
      <div class="col-5">
        <p>99.99</p>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <p>+ 100 licencias</p>
      </div>
      <div class="col-5">
        <p>99.99</p>
      </div>
    </div>


  </div>

  <div class="container-item">
    <div class="row">
      <div class="col">
        <b>Semestral</b>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <p>01 al 10 licencias</p>
      </div>
      <div class="col-5">
        <p>99.99</p>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <p>11 a 20 licencias</p>
      </div>
      <div class="col-5">
        <p>99.99</p>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <p>+ 100 licencias</p>
      </div>
      <div class="col-5">
        <p>99.99</p>
      </div>
    </div>


  </div>
  
  <div class="container-item">
    <div class="form-group">
      <label for="basicInput">¿Cuántas licencias necesitas?</label>
      <input type="text" class="form-control" id="basicInput" placeholder="Enter email" />
    </div>
    <div class="form-group">
      <label for="basicInput">¿Durante qué periodo?</label>
      <select class="form-control" id="basicSelect">
        <option>Anual</option>
        <option>Semestral</option>
      </select>
    </div>

    <a
    *ngIf="product.isInCart !== true"
    href="javascript:void(0)"
    class="btn btn-primary btn-cart"
    (click)="addToCart(product)"
    rippleEffect
  >
    <i data-feather="shopping-cart" class="mr-25"></i>
    <span class="add-to-cart">Agregar al carrito</span>
  </a>
  <a
    *ngIf="product.isInCart === true"
    routerLink="/apps/e-commerce/checkout"
    class="btn btn-primary btn-cart"
    rippleEffect
  >
    <i data-feather="shopping-cart" class="mr-25"></i>
    <span class="add-to-cart">Ver el carrito</span>
  </a>
  
  </div>
  

 
</div>
<!--/ Ecommerce Item -->
