<div class="content-wrapper container-xxl p-0">
  <div class="row">

    <div class="col-md-6 col-12">
      <div class="d-flex justify-content-between align-items-center m-1">
        <label class="d-flex align-items-center"
          >Mostrar
          <select class="form-control mx-25" [(ngModel)]="selected">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          rubros</label
        >
      </div>
      </div>
      <div class="col-md-6 col-12 d-flex justify-content-md-end">
        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
          <label class="d-flex align-items-center"
            >Buscar<input
              type="search"
              placeholder="Buscar"
              class="form-control ml-25"
              (keyup)="filterUpdate($event)"
              (search)="filterUpdate($event)"
          /></label>
        </div>
      </div>
    </div>

                <ngx-datatable
              class="bootstrap core-bootstrap"
              [headerHeight]="80"
              [rowHeight]="58"
              [limit]="selected"
              [columnMode]="ColumnMode.force"
              [footerHeight]="50"
              [rows]="rows"
              [scrollbarH]="true"
              >
              <ngx-datatable-column [width]="280" name="Rubro" prop="description">
                <ng-template let-column="column" ngx-datatable-header-template> 
                  <div class="container">
                    <p style="text-align: center;"><b style="text-transform: capitalize;">Rubros</b></p>
                    <span style="text-transform: capitalize;">*Expresado en {{ currency == '1' ? 'Soles' : 'Dolares' }}</span>
                  </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <div class="d-flex align-items-center">
                    <div class="mr-1 ml-0 text-info">
                      <span
                        rippleEffect
                        placement="right"
                        [ngbTooltip]="row.note"
                        tooltipClass="tooltip-indez"
                        #methodOpen="ngbTooltip" (click)="methodOpen.open()"
                      > <i data-feather="alert-circle" class="align-middle ml-sm-25 ml-0" ></i>
                    </span>
                      
                    </div>
                    
                      <div class="avatar mr-1 ml-0 bg-light-primary">
                        <div class="avatar-content">{{ row.description | initials }}</div>
                      </div>
                    
                    <div class="cell-line-height" style="    text-align: left;">
                      <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                        {{ row.description }}
                      </p>
                      <span class="font-small-2"> al último día del {{ datePeriod?.period | namePeriod }} {{ row.previousEdit != 'S' ? 'actual' : '' }} {{ row.currentEdit != 'S' ? 'anterior' : '' }}</span>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="100" prop="age">
                <ng-template let-column="column" ngx-datatable-header-template> 
                  <div class="container">
                    <p style="text-align: center;"><b style="text-transform: capitalize;">{{ datePeriod?.period | namePeriod }} anterior</b></p>
                    <div style="text-align: center; text-transform: capitalize;" >{{ datePeriod?.startMonthPeriod | nameMonth }} al {{ datePeriod?.endMonthPeriod | nameMonth }}</div>
                  </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
                  <div class="container">
                    <center>
                      <div *ngIf="row.previousEdit == 'N'">
                        No llenar
                      </div>
                      <div
                        *ngIf="businessType === '2' && row.previousEdit == 'S'"
                        title="Doble click para editar"
                      >
                        {{ (row.previousPeriod ? row.previousPeriod : '0.00') | currency : (currency == '1' ? 'S/ ' : '$ ') }}
                      </div>
                      <div
                        title="Doble click para editar"
                        (dblclick)="editingAge[rowIndex + '-previousPeriod'] = true"
                        *ngIf="!editingAge[rowIndex + '-previousPeriod'] && row.previousEdit == 'S' && businessType !== '2'"
                      >
                        {{ (row.previousPeriod ? row.previousPeriod : '0.00') | currency : (currency == '1' ? 'S/ ' : '$ ') }}
                      </div>
                      <input
                        autofocus
                        class="form-control form-control-sm"
                        (blur)="inlineEditingUpdateAge($event, 'previousPeriod', rowIndex, row)"
                        (keyup.enter)="inlineEditingUpdateAge($event, 'previousPeriod', rowIndex, row)"
                        *ngIf="editingAge[rowIndex + '-previousPeriod']"
                        type="number"
                        style="width: 50%;"
                        [value]="row.previousPeriod"
                      />
                    </center>
                  </div>
                  
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="100" prop="salary">
                <ng-template let-column="column" ngx-datatable-header-template> 
                  <div class="container">
                    <p style="text-align: center;" ><b style="text-transform: capitalize;">{{ datePeriod?.period | namePeriod }} actual o del analisis</b></p>
                    <div style="text-align: center; text-transform: capitalize;" >{{ datePeriod?.startMonth | nameMonth }} al {{ datePeriod?.endMonth | nameMonth }}</div>
                  </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
                  <div class="container">
                    <center>
                      <div *ngIf="row.currentEdit == 'N'">
                        No llenar
                      </div>
                      <div
                        *ngIf="businessType === '2' && row.currentEdit == 'S'"
                        title="Doble click para editar"
                      >
                      {{ (row.currentPeriod ? row.currentPeriod : '0.00') | currency : (currency == '1' ? 'S/ ' : '$ ') }}
                      </div>
                      <div
                        title="Doble click para editar"
                        (dblclick)="editingSalary[rowIndex + '-currentPeriod'] = true"
                        *ngIf="!editingSalary[rowIndex + '-currentPeriod'] && row.currentEdit == 'S'  && businessType !== '2'"
                      >
                      {{ (row.currentPeriod ? row.currentPeriod : '0.00') | currency : (currency == '1' ? 'S/ ' : '$ ') }}
                      </div>
                      <input
                        autofocus
                        class="form-control form-control-sm"
                        (blur)="inlineEditingUpdateSalary($event, 'currentPeriod', rowIndex, row)"
                        (keyup.enter)="inlineEditingUpdateSalary($event, 'currentPeriod', rowIndex, row)"
                        *ngIf="editingSalary[rowIndex + '-currentPeriod']"
                        type="number"
                        style="width: 50%;"
                        [value]="row.currentPeriod"
                      />
                    </center>
                  </div>
                  
                </ng-template>
              </ngx-datatable-column>

              </ngx-datatable>

  

  <div>
</div>