@import '@core/scss/angular/libs/datatables.component.scss';

.datatable-scroll {
  width: auto !important;
}
/*

.datatable-header {
  height: unset !important;
}

.datatable-body-cell-label { 
  width: 100%;
  text-align: center;
}


.waves-float {
  box-shadow: unset;
}

.tooltip-index {
  top: 10px !important;
}



*/

.datatable-body-cell-label{
  width: 100% !important;
}

.tooltip {
  top: 20px !important;
}

.arrow {
  display: none !important;
}

.tooltip-inner {
  max-width: 250px !important;
  background-color: #787684 !important;
}

.let p {
  text-transform: lowercase;
}

.let p:first-letter {
  text-transform: uppercase;

}