@import '@core/scss/angular/libs/datatables.component.scss';


.datatable-body-cell-label{
    width: 100% !important;
}

@media only screen and (max-width: 768px) {
    .separator-card {
        margin-top: 1rem;
    }
    .card-left {
        margin: 5% 5% 0% 5%;
        padding-bottom: 0px !important;
    }
    .card-rigth {
        margin: 0% 5% 0% 5%;
        padding-bottom: 0px !important;
    }
    .img{
        margin: 0% 5% 5% 5%;
        padding-bottom: 0px !important;
    }

    .img-description {
        width: 100%;
        height: 133px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
    .card {
        padding-bottom: 0px;
        height: 100%;
    }

    .img-description {
        width: 100%;
        height: 157px;
    }
    
}


@media (min-width:1025px) {
    .card-left {
        margin: 10% 0% 5% 10%;
        padding-bottom: 0px !important;
    }
    .card-rigth {
        margin: 10% 0% 5% 0%;
        padding-bottom: 0px !important;
    }
    .img{
        margin: 5% 5% 0% 0%;
        padding-bottom: 0px !important;
    }
    .img-description {
        width: 100%;
        height: 133px;
    }
}