<!-- Ecommerce Wishlist -->
<div class="content-wrapper container-xxl p-0">
  <div class="row">
    <div class="col">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
    </div>
    <div class="col-3">
      <a
          class="btn btn-info btn-cart"
          rippleEffect
          routerLink="/apps/comercio/verificar"
        >
          Finalizar Compra
        </a>
    </div>
  </div>
  
  <div class="content-body">
    <section class="row">
      <ng-container *ngFor="let product of products">
        <div class="col">
          <app-ecommerce-item
          class="card ecommerce-card"
          [product]="product"
          [period]="period"
          [isWishlistOpen]="true"
        ></app-ecommerce-item>
        </div>
      </ng-container>
    </section>
  </div>
</div>
<!--/ Ecommerce Wishlist -->
