<!--Scroll to top-->
<!--<button
  class="btn btn-primary btn-icon scroll-to-top"
  [ngClass]="{ 'show-scroll-to-top': windowScrolled }"
  type="button"
  (click)="scrollToTop()"
  rippleEffect
>
  <span [data-feather]="'arrow-up'"></span>
</button>-->

<div class="demo-inline-spacing">
  <div ngbDropdown [placement]="'top-right'" class="btn-group dropup">
    <a ngbDropdownToggle  rippleEffect class="scroll-to-top  show-scroll-to-top">
      <img src="assets/images/logo/avatar.png" alt="" >
    </a>
    <div ngbDropdownMenu>
      <h5 class="px-2 py-2"><b>¿En qué podemos ayudarlo?</b></h5>
      <div class="dropdown-divider"></div>
      <a ngbDropdownItem href="javascript:void(0)">Explicación sobre indicadores</a>
      <a ngbDropdownItem href="javascript:void(0)">¿Cómo generar informes?</a>
      <a ngbDropdownItem href="javascript:void(0)">Contactar con especialista</a>
    </div>
  </div>
</div>