<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
      <header-business
        [businesslist]="businesslist"
        [business]="business"
        (getBusiness)="setBusiness($event)"
        [datePeriod]="datePeriod"
      ></header-business>
<br>
      <div class="row">
        <div class="col-lg-9 col-8">
          <app-content-header [contentHeader]="contentHeader"></app-content-header>
        </div>
        <div class="col-lg-3 col-4">
          <button type="button" class="btn btn-outline-primary" style="float: right;" rippleEffect (click)="modalOpenSLCIM(modalSLCIM)">Glosario de términos</button>
        </div>
      </div>

        <div class="row">
        <div class="col-12">
         
         <div class="card">

          <div class="row separator-card">
        <div class="col-12">
         
         <div class="card">

          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="card-left card" style="box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%) !important; ">
                <div class="card-header d-flex flex-column align-items-start">
                  <div class="avatar bg-light-primary">
                    <div class="avatar-content">
                      <img src="assets/images/icons/icono-celeste.png" alt="" width="35">
                    </div>
                  </div>
                  <h2 class="font-large-1 font-weight-bolder">{{ datePeriod?.countDays }}</h2>
                  <h4 class="mb-0">Cantidad de días</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 separator-card" >
              <div class="card-rigth card" style="box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%) !important; ">
                <div class="card-header d-flex flex-column align-items-start">
                  <div class="avatar bg-light-success">
                    <div class="avatar-content">
                      <img src="assets/images/icons/icono-verde.png" alt="" width="35">
                    </div>
                  </div>
                  <h2 class="font-large-1 font-weight-bolder">{{ symbol }}</h2>
                  <h4 class="mb-0">{{ descriptionCurrent }}</h4>
                </div>
              </div>
              
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 separator-card">
              <div class="card img " style="box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%) !important; ">
                <div class="card-header d-flex flex-column align-items-start" style="padding: 0;">
                  <img src="assets/images/logo/ratio.png" class="img-description" alt="" >
                </div>
              </div>
            </div>
          </div>

            <div class="cars-body">
              <section id="ngx-datatable-kitchen-sink" >
                  
                <div class="row">
                
                  <div class="col-md-6 col-12">
                    <div class="d-flex justify-content-between align-items-center m-1">
                      <label class="d-flex align-items-center"
                        >Mostrar
                        <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                        </label
                      >
                    </div>
                  </div>
                  <div class="col-md-6 col-12 d-flex justify-content-md-end">
                    <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                      <label class="d-flex align-items-center"
                        >Buscar<input
                          type="search"
                          placeholder="Buscar"
                          class="form-control ml-25"
                          (keyup)="filterUpdate($event)"
                          (search)="filterUpdate($event)"
                      /></label>
                    </div>
                  </div>

                  <div class="col-12">
                    <p style="    text-align: center;
                    font-size: 14px;
                    color: #44b7ff;
                    background: whitesmoke;
                    padding: 1rem;">
                    <b>Variación Absoluto del {{ datePeriod?.period | namePeriod }} Final respecto a {{ datePeriod?.period | namePeriod }} inicial ({{ symbol }})</b>  
                  </p>
                  </div>

                </div>



                <ngx-datatable
                class="bootstrap core-bootstrap"
                [headerHeight]="0"
                [rowHeight]="58"
                [limit]="basicSelectedOption"
                [columnMode]="ColumnMode.force"
                [footerHeight]="50"
                [rows]="rows"
                [scrollbarH]="true"
                >
                  <ngx-datatable-column name="Indicadores" prop="name" [width]="280">
                    <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                      <div class="d-flex align-items-center">
                        
                        <div class="avatar mr-1 ml-0"
                          [ngClass]="{
                            'bg-light-success': '1' == row.public,
                            'bg-light-primary': row.public == '2'
                          }">
                          <div class="avatar-content"
                            >{{ row.name | initials }}</div>
                        </div>
                        
                        <div class="cell-line-height">
                          <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                            <b>{{ row.name }}</b>
                          </p>
                          <p class="font-medium-1 font-weight-bold line-height-1 mb-25">{{ row.detailResult  | nameRatio : datePeriod?.period }}</p>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
    
    
                  <ngx-datatable-column name="Resultados" prop="result" [width]="200">
                    <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                      <div class="container" *ngIf="row.validate == 'O'">
                            <p class="font-medium-1 font-weight-bold line-height-1" style="text-align: center;">
                              {{ row.result | number: '1.2-2' }} {{ row.voiced == '2' ? '%' : '' }}
                            </p>
                      </div>
                      <div class="container" *ngIf="row.validate == 'E'">
                        <p class="font-medium-1 font-weight-bold line-height-1" style="text-align: center;">
                          {{ row.result | number: '1.2-2' }} {{ row.voiced == '2' ? '%' : '' }}
                        </p>
                  </div>
                    </ng-template>
                  </ngx-datatable-column>
    
                  <ngx-datatable-column name="Opcion" [width]="100" [sortable]="false">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      <div class="d-flex align-items-center">
                        <div ngbDropdown container="body">
                          <a
                            ngbDropdownToggle
                            href="javascript:void(0);"
                            (click)= "detail(row, modalDetail)"
                            class="hide-arrow"
                            id="dropdownBrowserState"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i data-feather="eye" class="text-primary cursor-pointer mr-50"></i>
                          </a>
                          
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              
            </section>
            </div>
         </div>
          
        </div>

        </div>

            
         </div>
          
        </div>

      </div>
  </div>
</div>



<!--modal-->
    <!-- Modal -->
    <ng-template #modalSLCIM let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Glosario de terminos</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <div style="padding: 2rem;">
          <glossary-terms></glossary-terms>
        </div>
  
      </div>
 
    </ng-template>
 

    <ng-template #modalDetail let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160" style="padding: 0.5rem 2.1rem;">Detalle del indicador</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <br>
        <div style="padding: 0.5rem 3.5rem;">
          <div class="row">
            <div class="col-lg-9">
              <div class="form-group">
                <label for="disabledInput"><b>Indicador</b></label>
                <input type="text" class="form-control" id="disabledInput" disabled [value]="ratioDetail?.name" />
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="disabledInput"><b>Resultado</b></label>
                <p style="background: #efefef;
                padding: 0.7rem 1rem;
                border-radius: 5px;text-align: right;">{{ ratioDetail?.result | number: '1.2-2' }} {{ ratioDetail?.voiced == '2' ? '%' : '' }}</p>
              </div>
            </div>

            <div class="col-12">
              <b>Definición</b>
              <p>{{ ratioDetail?.description }}</p>
             <br>
             <b>Fórmula</b>
             <div 
               class="badge badge-dark" 
               style="white-space: break-spaces;background: #efefef;color: #000;padding: 1rem; width: 100%;line-height: 20px;"
             >{{ ratioDetail?.formula }}</div>
           <br><br>
              <b>Valores Utilizados</b>
              <p [innerHTML]="ratioDetail?.value"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn btn-primary"
          (click)="modal.close('Accept click')">Aceptar</button>
      </div>
    </ng-template>