<div class="content-wrapper container-xxl p-0">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <div class="content-body" x>
    <div class="bs-stepper checkout-tab-steps" id="checkoutStepper">
      <!-- Wizard starts -->
      <div class="bs-stepper-header">
        <div class="step" data-target="#step-cart">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-box">
              <i data-feather="shopping-cart" class="font-medium-3"></i>
            </span>
            <span class="bs-stepper-label">
              <span class="bs-stepper-title">Carrito</span>
              <span class="bs-stepper-subtitle">Los artículos de su carrito</span>
            </span>
          </button>
        </div>
        <div class="line">
          <i data-feather="chevron-right" class="font-medium-2"></i>
        </div>
        <div class="step" data-target="#step-address">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-box">
              <i data-feather="home" class="font-medium-3"></i>
            </span>
            <span class="bs-stepper-label">
              <span class="bs-stepper-title">Datos</span>
              <span class="bs-stepper-subtitle">Ingrese sus datos</span>
            </span>
          </button>
        </div>
        <div class="line">
          <i data-feather="chevron-right" class="font-medium-2"></i>
        </div>
        <div class="step" data-target="#step-payment">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-box">
              <i data-feather="credit-card" class="font-medium-3"></i>
            </span>
            <span class="bs-stepper-label">
              <span class="bs-stepper-title">Pago</span>
              <span class="bs-stepper-subtitle">Seleccionar método de pago</span>
            </span>
          </button>
        </div>
      </div>
      <!-- Wizard ends -->

      <div class="bs-stepper-content">
        <!-- Checkout Place order starts -->
        <div id="step-cart" class="content">
          <div id="place-order" class="list-view product-checkout">
            <!-- Checkout Place Order Left starts -->
            <div class="checkout-items">
              <ng-container *ngFor="let product of products">
                <app-ecommerce-checkout-item
                  [product]="product"
                  *ngIf="product.isInCart === true"
                ></app-ecommerce-checkout-item>
              </ng-container>
            </div>
            <!-- Checkout Place Order Left ends -->

            <!-- Checkout Place Order Right starts -->
            <div class="checkout-options">
              <div class="card">
                <div class="card-header">
                  DETALLE
                </div>
                <div class="card-body">
                  
                  
                  <div class="price-details">
                    <h6 class="price-title">Detalles de la Compra</h6>
                    <ul class="list-unstyled">
                      <ng-container *ngFor="let product of products">
                        <li class="price-detail"  *ngIf="product.isInCart === true">
                          <div class="detail-title">
                            <p>{{ product.name }}
                              <br>
                              <b>{{ product.mount }} lincencia{{ product.mount > 1 ? 's' : '' }} {{ product.periodText }}</b>
                            </p>
                            
                          </div>
                          <div class="detail-amt">{{ product.price | currency:'S/' }}</div>
                        </li>
                      </ng-container>
                      
                                            
                    </ul>
                    <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title detail-total" style="color: #b42995;">Total</div>
                        <div class="detail-amt font-weight-bolder" style="color: #b42995;">{{ totalCalculate() | currency:'S/' }}</div>
                      </li>
                    </ul>
                    <button
                      type="button"
                      class="btn btn-primary btn-block btn-next place-order"
                      (click)="nextStep()"
                      rippleEffect
                    >
                     Realizar pago
                    </button>
                  </div>
                </div>
              </div>
              <!-- Checkout Place Order Right ends -->
            </div>
          </div>
          <!-- Checkout Place order Ends -->
        </div>
        <!-- Checkout Customer Address Starts -->
        <div id="step-address" class="content">
          <form
            id="checkout-address"
            class="list-view product-checkout"
            [formGroup]="form" (ngSubmit)="submitPlan()"
          >
            <!-- Checkout Customer Address Left starts -->
            <div class="card">
              <div class="card-header flex-column align-items-start">
                <h4 class="card-title">Agregar Datos de Pago</h4>
                <p class="card-text text-muted mt-25">
                  Asegurese que los datos sean reales.
                </p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-name">Nombre completo</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="John Doe"
                        formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                        name="name"
                        id="name"
                        required
                        maxlength="250"
                      />
                      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">El campo es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-number">Número de teléfono:</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="0123456789"
                        required
                        formControlName="number"
                        [ngClass]="{ 'is-invalid': submitted && f.number.errors }"
                        name="number"
                        id="number"
                        maxlength="9"
                      />
                      <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                        <div *ngIf="f.number.errors.required">El campo es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-apt-number">Dirección:</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="9447 Glen Eagles Drive"
                        required
                        formControlName="address"
                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                        name="address"
                        id="address"
                        maxlength="250"
                      />
                      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.errors.required">El campo es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-landmark">País</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Pais"
                        required
                        formControlName="country"
                        [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
                        name="country"
                        id="country"
                        maxlength="20"
                      />
                      <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                        <div *ngIf="f.country.errors.required">El campo es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-landmark">Cuidad</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Cuidad"
                        required
                        formControlName="city"
                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
                        name="city"
                        id="city"
                        maxlength="20"
                      />
                      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">El campo es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-landmark">Código postal</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Código postal"
                        required
                        formControlName="code"
                        [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                        name="code"
                        id="code"
                        maxlength="20"
                      />
                      <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                        <div *ngIf="f.code.errors.required">El campo es requerido</div>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-primary btn-next delivery-address"
                      (click)="submitPlan()"
                      rippleEffect
                    >
                    Realizar pago
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Checkout Customer Address Left ends -->

            <!-- Checkout Customer Address Right starts -->
            <div class="checkout-options">
              <div class="card">
                <div class="card-header">
                  DETALLE
                </div>
                <div class="card-body">
                  
                  <div class="price-details">
                    <h6 class="price-title">Detalles de la Compra</h6>
                    <ul class="list-unstyled">
                      <ng-container *ngFor="let product of products">
                        <li class="price-detail"  *ngIf="product.isInCart === true">
                          <div class="detail-title">
                            <p>{{ product.name }}
                              <br>
                              <b>{{ product.mount }} lincencia{{ product.mount > 1 ? 's' : '' }} {{ product.periodText }}</b>
                            </p>
                            
                          </div>
                          <div class="detail-amt">{{ product.price | currency:'S/' }}</div>
                        </li>
                      </ng-container>
                      
                                            
                    </ul>
                    <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title detail-total" style="color: #b42995;">Total</div>
                        <div class="detail-amt font-weight-bolder" style="color: #b42995;">{{ totalCalculate() | currency:'S/' }}</div>
                      </li>
                    </ul>
                    <button
                      type="submit"
                      class="btn btn-primary btn-block btn-next place-order"
                      rippleEffect
                    >
                    Realizar pago
                    </button>
                  </div>
                </div>
              </div>
              <!-- Checkout Place Order Right ends -->
            </div>
            <!-- Checkout Customer Address Right ends -->
          </form>
        </div>
        <!-- Checkout Customer Address Ends -->

        <!-- Checkout Payment Starts -->
        <div id="step-payment" class="content" >
          <form id="checkout-payment" class="list-view product-checkout" onsubmit="return false;">
            <div class="payment-type">
              <div class="card" *ngIf="iPay  && iPayCard">
                <div class="card-header flex-column align-items-start">
                  <h4 class="card-title">Opciones de pago</h4>
                  <p class="card-text text-muted mt-25">Asegúrese de hacer clic en la opción de pago correcta</p>
                </div>
                <div class="card-body">
                  <ul class="other-payment-options list-unstyled">
                    <li class="py-50">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="customColorRadio2" name="paymentOptions" [(ngModel)]="card" value="1" class="custom-control-input" />
                        <label class="custom-control-label" for="customColorRadio2"> Tarjeta de crédito/débito </label>
                      </div>
                      <div class="ml-2 mt-2 mb-2">
                        <img src="assets/images/elements/card.jpg" alt="">
                      </div>
                    </li>
                    <li class="py-50">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="customColorRadio3" name="paymentOptions" [(ngModel)]="card" value="2" class="custom-control-input" />
                        <label class="custom-control-label" for="customColorRadio3"> Transferencia Bancaria </label>
                      </div>
                      <div class="ml-2 mt-2">
                        <p>Consultoria Villajuana  SAC <br>
                          <span>RUC: 20600000000</span><br>
                          <span>Cuenta Corriente BBVA: 0011-0000-0000101</span><br>
                          <span>CCI: 011 000 0000000101</span>
                        </p>
                      </div>
                    </li>
                    
                  </ul>
                  
                </div>
              </div>
              <div class="card" *ngIf="!iPay">
               
                <div class="card-body" style="padding-top: 10%;
                padding-bottom: 10%;
                font-size: 1.2rem;">
                    <div class="row">
                      <div class="col-3">

                      </div>
                      <div class="col-7">
                        <p>Por favor, envíe el voucher de pago a:</p>
                        <b style="color:#3bb4ff">pagos@drrate.com</b>
                        <br>
                        <p>
                          Datos para transferencia<br>
                          Consultoria Villajuana SAC<br>
                          RUC: 20500090000<br>
                          Cta. Corriente BBVA: 0011-0000-0000101<br>
                          CCI: 0011 000 0000000000
                          <br><br>
                          Quedamos atentos
                        </p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="card" *ngIf="!iPayCard">
               
                <div class="card-body" style="padding-top: 10%;
                padding-bottom: 10%;
                font-size: 1.2rem;">
                    <div class="row">
                      <div class="col-3">

                      </div>
                      <div class="col-7">
                        <b style="color:red">Su medio de pago fue rechazado</b>
                        <br><br>
                        <p>
                          Lo sentimos se ha producido un error inesperado durante el proceso 
                          de pago. Por favor, verifique que su tarjeta esté activa 
                          para compras por internet y tenga saldo disponible. Luego, 
                          vuelva a intentar realizar el pago.
                        </p>
                        <br>
                        <p>* Si el problema continua, por favor comuniquese con su banco.</p>
                        <br>
                        <button
                          type="button"
                          class="btn btn-primary btn-block btn-next place-order"
                          (click)="openCheckout()"
                          rippleEffect
                          [disabled]="!iPay"
                        >Intentar nuevamente realizar pago</button>

                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="checkout-options">
              <div class="card">
                <div class="card-header">
                  DETALLE
                </div>
                <div class="card-body">
      
                  <div class="price-details">
                    <h6 class="price-title">Detalles de la Compra</h6>
                    <ul class="list-unstyled">
                      <ng-container *ngFor="let product of products">
                        <li class="price-detail"  *ngIf="product.isInCart === true">
                          <div class="detail-title">
                            <p>{{ product.name }}
                              <br>
                              <b>{{ product.mount }} lincencia{{ product.mount > 1 ? 's' : '' }} {{ product.periodText }}</b>
                            </p>
                            
                          </div>
                          <div class="detail-amt">{{ product.price | currency:'S/' }}</div>
                        </li>
                      </ng-container>
                      
                                            
                    </ul>
                    <h6 class="price-title">Datos del comprador</h6>
                    <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title">
                          <p> {{ this.f.name.value }} 
                          <br>
                          {{ this.f.number.value }}
                          <br>
                          {{ this.f.address.value }} - {{ this.f.city.value }}  - {{ this.f.country.value }} </p>
                        </div>
                      </li>
                      
                    </ul>
                    <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title detail-total" style="color: #b42995;">Total</div>
                        <div class="detail-amt font-weight-bolder" style="color: #b42995;">{{ totalCalculate() | currency:'S/' }}</div>
                      </li>
                    </ul>
                    <button
                      type="button"
                      class="btn btn-primary btn-block btn-next place-order"
                      (click)="openCheckout()"
                      rippleEffect
                      [disabled]="!iPay || !iPayCard"
                    >
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Realizar pago
                    </button>
                    <swal
                      #saveSwal
                      title="¿Seguro de procesar esta operación?"
                      text=""
                      icon="question"
                      [showCancelButton]="true"
                      [focusCancel]="true"
                      confirmButtonColor= "#3BB4FF"
                      cancelButtonColor= "#E42728"
                      confirmButtonText= "Aceptar"
                      cancelButtonText= "Cancelar"
                      (confirm)="addCartToBackend()">
                    </swal>
                  </div>

                  
                </div>
              </div>
              <!-- Checkout Place Order Right ends -->
            </div>
          </form>
        </div>
        <!-- Checkout Payment Ends -->
      </div>
    </div>
  </div>
</div>
