<div class="row">

  <div class="col-lg-4 col-12">
    <div class="card" style="padding-bottom: 0px;height: 100%;">

      <div class="card-body">
        <div class="form-group">
          
            <label>Empresa</label>
            <ng-select 
              [(ngModel)]="business"
              (change)="setBusiness()">
              <ng-option 
                *ngFor="let item of businesslist" 
                [disabled]="!item.isActive"
                [value]="item"
                >{{item.name}}</ng-option>
           </ng-select>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-8 col-12 separator-card">
    <div class="card" style="padding-bottom: 0px;background: #0f86b5;color: white;">

      <div class="card-body">
        
        <div class="row">
          <div class="col-md-3">
            <img src="assets/images/pages/libros.png" alt="" style="display:block;margin:auto;width: 60%;height: 100%;">
          </div>
          <div class="col-md-9">
            <div class="row detail">
          
              <div class="col-12">
                <p>Período seleccionado</p>
              </div>

              <div class="col-md-6 detail">
                <p>{{ datePeriod?.period | namePeriod }} actual o del análisis</p>
                <div class="row">
                  <div class="col-4">
                    <p>Desde</p>
                  </div>
  
                  <div class="col" style="text-align: right;">
                    <p>{{ datePeriod?.startMonth | nameMonth }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <p>Hasta</p>
                  </div>
  
                  <div class="col" style="text-align: right;">
                    <p>{{ datePeriod?.endMonth | nameMonth }} </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 detail separator">
                <p>{{ datePeriod?.period | namePeriod }} anterior</p>
                <div class="row">
                  <div class="col-4">
                    <p>Desde</p>
                  </div>
  
                  <div class="col" style="text-align: right;">
                    <p>{{ datePeriod?.startMonthPeriod | nameMonth }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <p>Hasta</p>
                  </div>
  
                  <div class="col" style="text-align: right;">
                    <p>{{ datePeriod?.endMonthPeriod | nameMonth }} </p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>