@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@100&display=swap');
@import '@core/scss/core.scss';
@import './assets/scss/styles';


.main-menu.menu-light .navigation li a {
    color: #474747;
    padding: 10px 15px 10px 15px;
    line-height: 1.45;
}

.main-menu.menu-light .navigation .navigation-header span {
    font-weight: 600 !important;
}

.menu-title {
    white-space: break-spaces !important;
}

.main-menu.menu-light .navigation .navigation-header {
    color: #474747 !important;
}

.bs-stepper .bs-stepper-header .step.active .step-trigger .bs-stepper-box {
    box-shadow: none !important;
}