<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- page users view start -->
    <section class="app-user-view">
      <h4 class="card-title">Lista de Usuarios</h4>

        <!-- User Card & Plan Starts -->
      <div class="row">
        <!-- User Card starts-->
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="card user-card">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-4 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                  <div class="user-avatar-section">
                    <div class="d-flex justify-content-start">
                      <!--*ngIf="data.avatar.length > 0; else customAvatar"-->
                      <div >
                        <img class="img-fluid rounded" [src]="rutaAvatar + user.avatar" height="104" width="104" alt="User avatar" />
                      </div>
                      <ng-template #customAvatar>
                        <div class="mr-1 ml-0 ">
                          <div class="rounded p-3 bg-light-success">
                            <h2
                              [ngClass]="{
                                'text-success': user.status == 'A',
                                'text-warning': user.status == 'I'
                              }"
                              class="m-0"
                            >
                              {{ user.name | initials }}
                            </h2>
                          </div>
                        </div>
                      </ng-template>
                      <div class="d-flex flex-column ml-1">
                        <div class="user-info mb-1">
                          <h4 class="mb-0">{{ user.name }} {{ user.lastName }}</h4>
                        </div>
                        <div class="d-flex flex-wrap">
                          <div class="badge badge-pill badge-glow badge-primary" style="width: 150px;" *ngIf="user.status == 'A'">Activo</div>
                          <div class="badge badge-pill badge-glow badge-warning" style="width: 150px;" *ngIf="user.status == 'I'">Inactivo</div>
                        </div>
                        <br>
                        <div class="d-flex mb-0">
                          <h6 class="mr-1 mb-0">
                            <div class="badge badge-pill badge-light-warning">Inactivo</div>
                          </h6>
                          <div class="custom-control custom-switch">
                            <input
                              type="checkbox"
                              [(ngModel)]="statusUser"
                              class="custom-control-input"
                              id="priceSwitch"
                              name="priceSwitch"
                              [swal]="{
                                title: titleMessage,
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#7367F0',
                                cancelButtonColor: '#E42728',
                                confirmButtonText: 'Si, aceptar',
                                cancelButtonText: 'Cancelar',
                                customClass: {
                                  confirmButton: 'btn btn-primary',
                                  cancelButton: 'btn btn-danger ml-1'
                                }
                              }"
                              (confirm)="userActivate()"
                            />
                            <label class="custom-control-label" for="priceSwitch"></label>
                          </div>
                          <h6 class="ml-50 mb-0">
                            <div class="badge badge-pill badge-light-success">Activo</div>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-xl-8 col-lg-12 mt-2 mt-xl-0">
                  <div class="user-info-wrapper">
                    
                    <ul ngbNav #nav="ngbNav" class="nav nav-pills">
                      <li ngbNavItem>
                        <a ngbNavLink>Empresa Individuales</a>
                        <ng-template ngbNavContent>
                          <table class="table">
                            <thead>
                              <tr>
                                <th style="text-transform: none;">Grupo de compra</th>
                                <th style="text-transform: none;">Cantidad </th>
                                <th style="text-transform: none;">Vencimiento</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let item of history; let i = index">
                                <tr *ngIf="item.plan == '4'" >
                                  <td>Grupo de compra {{ i }}</td>
                                  <td>{{ item.cant }}</td>
                                  <td>{{ item.end | date: 'dd/MM/yyyy' }}</td>
                                </tr>
                              </ng-container>
                              
                            </tbody>
                          </table>
                        </ng-template>
                      </li>
                      <li ngbNavItem>
                        <a ngbNavLink>Empresa con sucursales</a>
                        <ng-template ngbNavContent>
                          <table class="table">
                            <thead>
                              <tr>
                                <th style="text-transform: none;">Grupo de compra</th>
                                <th style="text-transform: none;">Cantidad </th>
                                <th style="text-transform: none;">Vencimiento</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let item of history; let i = index">
                                <tr *ngIf="item.plan == '5'" >
                                  <td>Grupo de compra {{ i }}</td>
                                  <td>{{ item.cant }}</td>
                                  <td>{{ item.end | date: 'dd/MM/yyyy' }}</td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </ng-template>
                      </li>
                      <li ngbNavItem>
                        <a ngbNavLink>Para donar</a>
                        <ng-template ngbNavContent>
                          <table class="table">
                            <thead>
                              <tr>
                                <th style="text-transform: none;">Grupo de compra</th>
                                <th style="text-transform: none;">Cantidad </th>
                                <th style="text-transform: none;">Vencimiento</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let item of history; let i = index">
                                <tr *ngIf="item.plan == '6'" >
                                  <td>Grupo de compra {{ i }}</td>
                                  <td>{{ item.cant }}</td>
                                  <td>{{ item.end | date: 'dd/MM/yyyy' }}</td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </ng-template>
                      </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-1"></div>
  
                    
                  
                  </div>
                </div>
              </div>
              
         
              <div>
          
              </div>
            </div>
          </div>
        </div>
        <!-- /User Card Ends-->

        <!-- /Plan CardEnds -->
      </div>
  
      <div class="row">
        <div class="col-12">
          <h4 class="card-title">Usuarios Asignados</h4>
          <section id="ngx-datatable-kitchen-sink">
  
            
            <div class="row">
            
              <div class="col-md-6 col-12">
                <div class="d-flex justify-content-between align-items-center m-1">
                  <label class="d-flex align-items-center"
                    >Mostrar
                    <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    Usuarios</label
                  >
                </div>
              </div>
              <div class="col-md-6 col-12 d-flex justify-content-md-end">
                <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                  <label class="d-flex align-items-center"
                    >Buscar<input
                      type="search"
                      placeholder="Buscar"
                      class="form-control ml-25"
                      (keyup)="filterUpdate($event)"
                      (search)="filterUpdate($event)"
                  /></label>
                </div>
              </div>
            </div>
            <ngx-datatable
            class="bootstrap core-bootstrap"
            [headerHeight]="40"
            [rowHeight]="58"
            [limit]="basicSelectedOption"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [rows]="rows"
            [scrollbarH]="true"
            >
              <ngx-datatable-column name="Nombres y Apellidos" prop="name" [width]="280">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <div *ngIf="row?.avatar?.length > 0; else customAvatar">
                      <img
                        class="rounded-circle mr-1"
                        [src]="rutaAvatar + row.avatar"
                        height="32"
                        width="32"
                        alt="datatable-avatar"
                      />
                    </div>
                    <ng-template #customAvatar>
                      <div class="avatar mr-1 ml-0 bg-light-success" >
                        <div class="avatar-content">{{ row.name | initials }}</div>
                      </div>
                    </ng-template>
                    <div class="cell-line-height">
                      <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                        {{ row.name }} {{ user.lastName }}
                      </p>
                      
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column name="Email" prop="email" [width]="250">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                        {{ row.email }}
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
  
         
  
              <ngx-datatable-column name="Empresa" prop="business" [width]="250">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                      {{ row.business }}
                    </p>
                  </div>
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column name="Estado" prop="status" [width]="50">
                <ng-template let-status="value" let-row="row" ngx-datatable-cell-template>
                  <div 
                    class="badge badge-pill"
                    [ngClass]="{
                      'badge-light-success': 'A' == row.status,
                      'badge-light-warning': row.status == 'I'
                    }"
                  >
                    {{
                      row.status == 'A'
                        ? 'Activo'
                        : 'Inactivo'
                    }}
                    
                  </div>
                </ng-template>
              </ngx-datatable-column>
              
            </ngx-datatable>
          
        </section>
        </div>
      </div>

    </section>
    <!-- page users view end -->
  </div>
</div>




